<div class="row">
  <div class="offset-10 col-md-2 mt-2"> <button type="button" id="create" class="btn btn-success" (click)="redirectToCreatePage()">Create new</button> </div>
</div>
<div class="card">
  <div class="table-responsive">
     <table class="table no-wrap user-table mb-0">
       <thead>
         <tr>
           <td>Id</td>
           <td>Title</td>
           <td>Genre</td>
           <td>Rating</td>
         </tr>
       </thead>
           <tbody>
           <tr *ngFor="let card of textCards">
             <td>
               <h5 class="font-medium mb-0">{{card.id}}</h5>
             </td>
             <td>
               <h5 class="font-medium mb-0">{{card.title}}</h5>
             </td>
             <td>
               <h5 class="font-medium mb-0">{{card.genreName}}</h5>
             </td>
             <td>
              <h5 class="font-medium mb-0">{{card.cardRating}}</h5>
            </td>
             <td><button type="button" id="details" class="btn btn-info" (click)="redirectToDetailsPage(card.id)">Details</button></td>
             <td><button type="button" id="update" class="btn btn-info" (click)="redirectToUpdatePage(card.id)">Update</button></td>
             <td><button type="button" id="delete" class="btn btn-info" (click)="redirectToDeletePage(card.id)">Delete</button></td>
           </tr>
           </tbody>
         </table>
       </div>
  </div>
