/* You can add global styles to this file, and also import other style files */
host {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color: #E8DCBA;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0;
}

.user-table tbody tr .category-select {
  max-width: 150px;
  border-radius: 20px;
}

.my-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 0;
    height: 100%;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #773080;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.toolbar img {
  margin: 20px;
}

.toolbar .menu {
margin: 20px;
}

.content{
  height: fit-content;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-card{
  width: 800px;
}


.homeText {
  text-align:  center;
  font-size: 14px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #659C8D;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
