<div class="card">
  <div class="table-responsive">
     <table class="table no-wrap user-table mb-0">
       <thead>
         <tr>
           <td>First name</td>
           <td>Last name</td>
           <td>Birth Date</td>
           <td>City</td>
           <td>Role</td>
         </tr>
       </thead>
           <tbody>
           <tr *ngFor="let user of users">
             <td>
               <h5 class="font-medium mb-0">{{user.firstName}}</h5>
             </td>
             <td>
               <h5 class="font-medium mb-0">{{user.lastName}}</h5>
             </td>
             <td>
               <h5 class="font-medium mb-0">{{this.formatDate(user.dateOfBirth)}}</h5>
             </td>
             <td>
              <h5 class="font-medium mb-0">{{user.city}}</h5>
            </td>
            <td>
              <h5 class="font-medium mb-0">{{user.userRoles[0]}}</h5>
            </td>
             <td><button type="button" id="details" class="btn btn-info">Details</button></td>
             <td><button type="button" id="update" class="btn btn-info">Update</button></td>
             <td><button type="button" id="delete" class="btn btn-info">Delete</button></td>
           </tr>
           </tbody>
         </table>
       </div>
  </div>
